<!--
  wp-miror / WordPressサイトの投稿を取得しミラーサイトとして使えます
  このページは %siteName% のコンテンツです。footerに記載されている詳細を削除しないでください。
-->

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>%siteName%</title>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
  <header>
    
  </header>
  <main>

  </main>
  <footer>
    <a href="%siteURL%">%siteName%</a> のミラーコピーサイトです。<br>コンテンツの所有権は %siteName% が所有しています。
  </footer>
</body>
</html>